/* Custom styles for TipsyBear.com */

html,
body {
    height: 100%;
}

/* Sticky Footer */

#wrapper {
    min-height: 100%;
    height: auto;
    margin: 0 auto -56px;
    padding: 0 0 76px;
}

#content {
    padding: 76px 15px 0;
}

.jumbotron {
    background: url('/images/metro_background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 576px;
    color: #FEFEFE;
    text-shadow: 2px 2px rgba(0,0,0,.45);
    text-align: center;
}

.banner-text {
    margin: 100px;
}

.jumbotron h1 {
    font-weight: bold;
    text-transform: uppercase;
}

#content {
    background: #fff;
}

footer {
    background-color: #fff;
    opacity: 0.95;
    filter: alpha(opacity=95);
    border-top: 1px solid #eee;
    height: 76px;
    padding: 8px 15px;
}

footer p {
    margin: 0;
}

.article {
    padding: 20px 0 5px 0;
}
