<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Site Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Page Meta -->
    <title>{{ page.title }} &spades; Tipsy Bear Studios</title>
    <meta name="author" content="{{ page.author }}">
    <meta name="keywords" content="{{ page.tags | join:", " }}">
    <meta name="description" content="{{ page.description }}">

    <!-- Shortcut Icons -->
    <link rel="shortcut icon" href="/favicon.png">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/tipsybear.css">
</head>
<body>
  <div id="wrapper">

    {% unless page.no_navbar %}
      <!-- Note: If removing navbar, remove extra container padding -->
      {% include navbar.html %}
    {% endunless %}

    <!-- Content Starts -->
    <div id="content" class="container">
      {{ content }}
    </div><!-- end content -->

  </div><!-- wrapper ends -->

  {% unless page.no_footer %}
    {% include footer.html %}
  {% endunless %}

  <!-- JavaScript at the bottom of the page for faster loading -->
  <script src="/js/libs/jquery.js"></script>
  <script src="/js/libs/underscore.js"></script>
  <script src="/js/libs/bootstrap.js"></script>
  {% include analytics.html %}
</body>
</html>
